<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="layout">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %m%n</Property>
    </Properties>

    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <LevelRangeFilter minLevel="FATAL" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="${layout}"/>
        </Console>

        <File name="LogFile" fileName="LOGS/app.log" append="true">
            <PatternLayout pattern="${layout}"/>
        </File>
    </Appenders>

    <Loggers>

        <Logger name="by.mx" level="info" additivity="false">
            <AppenderRef ref="LogFile" />
            <AppenderRef ref="Console" />
        </Logger>

        <Root level="error">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="LogFile"/>
        </Root>
    </Loggers>
</Configuration>